<header class="navbar navbar-toggleable-md navbar-inverse bg-inverse" role="navigation">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleNav()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a (click)="close()" class="navbar-brand" routerLink="/">{{brand}}</a>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="close()" class="nav-link" routerLink="stats" routerLinkActive="active">IV Calc</a>
      </li>
      <li class="nav-item">
        <a (click)="close()" class="nav-link" routerLink="moves" routerLinkActive="active">Moves</a>
      </li>
      <li class="nav-item">
        <a (click)="close()" class="nav-link" routerLink="abilities" routerLinkActive="active">Abilities</a>
      </li>
    </ul>
  </div>
</header>
