$PokeBall_Primary           : #D32026;
$PokeBall_Great_Primary     : #0A94D7;
$PokeBall_Great_Secondary   : #FE6979;
$PokeBall_Ultra_Primary     : #F3DB76;
$PokeBall_Ultra_Secondary   : #414141;
$PokeBall_Master_Primary    : #6C639C;
$PokeBall_Master_Secondary  : #A72F69;
$PokeBall_Safari_Primary    : #779752;
$PokeBall_Safari_Secondary  : #AAA54C;
$PokeBall_Cherish_Primary   : #D55133;
$PokeBall_Cherish_Secondary : #383838;

// Pokemon type colors
$Type_Normal   : #BDBDAE;
$Type_Poison   : #AA5DA1;
$Type_Psychic  : #FA64B5;
$Type_Grass    : #8DD851;
$Type_Ground   : #EECC56;
$Type_Ice      : #96F1FF;
$Type_Fire     : #FA5543;
$Type_Rock     : #CEBD72;
$Type_Dragon   : #8A75FF;
$Type_Water    : #57B0FF;
$Type_Bug      : #C2D120;
$Type_Dark     : #8E6956;
$Type_Fighting : #A85644;
$Type_Ghost    : #7974D6;
$Type_Steel    : #C4C2DB;
$Type_Flying   : #79A4FF;
$Type_Electric : #FDE53C;
$Type_Fairy    : #F9ADFF;
