@import './_colors';

.normal {
  background-color: $Type_Normal;
  color: #000000
}

.poison {
  background-color: $Type_Poison;
  color: #000000
}

.psychic {
  background-color: $Type_Psychic;
  color: #000000
}

.grass {
  background-color: $Type_Grass;
  color: #000000
}

.ground {
  background-color: $Type_Ground;
  color: #000000
}

.ice {
  background-color: $Type_Ice;
  color: #000000
}

.fire {
  background-color: $Type_Fire;
  color: #000000
}

.rock {
  background-color: $Type_Rock;
  color: #000000
}

.dragon {
  background-color: $Type_Dragon;
  color: #000000
}

.water {
  background-color: $Type_Water;
  color: #000000
}

.bug {
  background-color: $Type_Bug;
  color: #000000
}

.dark {
  background-color: $Type_Dark;
  color: #000000
}

.fighting {
  background-color: $Type_Fighting;
  color: #000000
}

.ghost {
  background-color: $Type_Ghost;
  color: #000000
}

.steel {
  background-color: $Type_Steel;
  color: #000000
}

.flying {
  background-color: $Type_Flying;
  color: #000000
}

.electric {
  background-color: $Type_Electric;
  color: #000000
}

.fairy {
  background-color: $Type_Fairy;
  color: #000000
}
