@import '../../../assets/theme';

$accent: map-get($PokeData-theme, accent);
$primary: map-get($PokeData-theme, primary);

.PokeData-card {
  cursor: pointer;
  border-color: grey;
  width: 75px;
  height: 125px;

  &:hover {
    box-shadow: 1px 1px 1px 1px mat-color($accent);
  }

  .PokeData-name {
    text-align: center;
    color: mat-color($accent);
  }
}
